html
    head
        title
    body
        table(style='width:100%;margin-left:auto;marrgin-right:auto;')
            tbody
                tr
                    td(align='center', style='font-size:14px;')
                        table(style='width:640px')
                            tbody
                                tr
                                    td
                                        p #{__('templates.email.hello')} #{user.username}
                                        p
                                            | #{__('templates.email.line_01')}
                                            a(href='http://plugplay.co')  plugplay.co
                                            |  #{__('templates.email.line_02')}
                                        p
                                            a(href='http://plugplay.co' + link) #{'http://plugplay.co' + link}
                                        p #{__('templates.email.line_03')}
                                        p #{__('templates.email.line_04')}
                                        p
                                            em
                                                | Thang Phan,
                                                br
                                                | Admin plugplay.co
