extends ../../layouts/default
include ../../mixins/flash-messages

block content
    // Page Container
    .w3-content
        // The Grid
        .w3-row-padding.w3-padding-64(style="margin-top:20px")
            +flash-messages(messages)
            .w3-row
                // Left Column
                .w3-col.l5.m5
                    // Profile
                    .w3-card-2.w3-round.w3-white
                        .w3-container
                            h4.w3-center #{__('templates.profile.header')} 
                            p.w3-center
                                a(href='/')
                                    img(src='/images/img_avatar.png', style='width:25%',  alt='Avatar')
                                    //img(src='/images/img_avatar.png', style='height:106px;width:86px', alt='Avatar')
                            hr
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-user-o.fa-fw.w3-margin-right.w3-text-theme 
                                        | #{__('templates.profile.user_name')} 
                                .w3-col.s7.m7.l7 
                                    p
                                        b #{form.username}
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-meh-o.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.full_name')} 
                                .w3-col.s7.m7.l7 
                                    p
                                        b #{form.name.first} #{form.name.last} 
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-phone.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.phone')} 
                                .w3-col.s7.m7.l7 
                                    p
                                        b #{form.countryCode} #{form.tel}  
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-envelope-o.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.email')} 
                                .w3-col.s7.m7.l7 
                                    p     
                                        b #{form.email} 
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-map-marker.fa-fw.w3-margin-right.w3-text-theme 
                                        |  #{__('templates.profile.from')} 
                                .w3-col.s7.m7.l7 
                                    p 
                                        b #{form.location} 
                    br
                    // User type
                    .w3-card-2.w3-round.w3-white
                        .w3-container
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-unsorted.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.user_type')} 
                                .w3-col.s7.m7.l7
                                    p 
                                        b #{form.type}
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-key.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.user_key')} 
                                .w3-col.s7.m7.l7
                                    p 
                                        b.w3-text-red #{form.userKey}
                            .w3-row
                                .w3-col.s5.m5.l5
                                    p
                                        i.fa.fa-money.fa-fw.w3-margin-right.w3-text-theme
                                        |  #{__('templates.profile.upgraded')} 
                                .w3-col.s7.m7.l7
                                    p 
                                        b #{form._.upgradeUserTypeAt.format('Do MMMM YYYY')}
                    br
                    //- Alert Box
                        .w3-container.w3-display-container.w3-round.w3-theme-l4.w3-border.w3-theme-border.w3-margin-bottom.w3-hide-small
                            span.w3-button.w3-theme-l3.w3-display-topright(onclick="this.parentElement.style.display='none'")
                                i.fa.fa-remove
                            p
                                strong Hey!
                            p Thank you so much for using our services.
                    // End Left Column
                // Right Column
                .w3-col.l7.m7
                    .w3-card-2.w3-round.w3-margin-right.w3-margin-left
                        .w3-bar.w3-light-grey
                            button.w3-bar-item.w3-button.w3-hover-black.tablink(onclick="openTab(event,'Profile')" class=(tab === 'password' ? null : 'w3-green')) #{__('templates.profile.edit_profile')} 
                            button.w3-bar-item.w3-button.w3-hover-black.tablink(onclick="openTab(event,'Password')" class=(tab === 'password' ? 'w3-green' : null)) #{__('templates.profile.edit_pwd')} 
                        #Profile.w3-container.tab(style=(tab === 'password' ? 'display:none' : null))
                            form(action= locale+'/profile' method="post")
                                .w3-section
                                    .w3-row
                                        .w3-col(style="width:47%")
                                            label: b #{__('templates.profile.firstname')} 
                                            input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder=__('templates.profile.firstname_holder') name='firstname' required='' value=form.name.first)
                                        .w3-col(style="width:6%")
                                            label  &nbsp
                                        .w3-col(style="width:47%")
                                            label: b #{__('templates.profile.lastname')} 
                                            input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder=__('templates.profile.lastname_holder') name='lastname' required='' value=form.name.last)
                                    .w3-row
                                        .w3-col(style="width:47%")
                                            label: b #{__('templates.profile.country_code')} 
                                            include countrycode
                                        .w3-col(style="width:6%")
                                            label  &nbsp
                                        .w3-col(style="width:47%")
                                            label: b #{__('templates.profile.phone')} 
                                            input.w3-input.w3-border.w3-margin-bottom(type='tel' placeholder=__('templates.profile.phone_holder') name='tel' required='' value=form.tel) 
                                    .w3-row    
                                        .w3-col(style="width:47%")
                                            label: b #{__('templates.profile.from')} 
                                            input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder=__('templates.profile.from_holder') name='location' required='' value=form.location)  
                                    .w3-center
                                        button.w3-button.w3-border.w3-section.w3-hover-green(type='submit') #{__('templates.profile.submit')} 
                        #Password.w3-container.tab(style=(tab === 'password' ? null : 'display:none'))
                            form(action= locale+'/editpassword' method="post")
                                .w3-section   
                                    label: b #{__('templates.profile.new_pwd')} 
                                    input.w3-input.w3-border.w3-margin-bottom(type='password' placeholder=__('templates.profile.new_pwd_holder') name='password' required='')
                                    label: b #{__('templates.profile.confirm_pwd')} 
                                    input.w3-input.w3-border.w3-margin-bottom(type='password' placeholder=__('templates.profile.confirm_pwd_holder') name='password_confirm' required='' )
                                    .w3-center
                                        button.w3-button.w3-border.w3-section.w3-hover-green(style='max-weight:100px' type='submit') #{__('templates.profile.submit')} 
                    br
                    // Accordion
                    .w3-card-2.w3-round.w3-margin-right.w3-margin-left
                        h4.w3-center #{__('templates.profile.try_now')} 
                        .w3-white
                            button.w3-button.w3-block.w3-left-align(onclick="goHomePage()")
                                i.fa.fa-home.fa-fw.w3-margin-right
                                |  #{__('templates.profile.go_home')} 
                            button.w3-button.w3-block.w3-left-align(onclick="goBoardList()")
                                i.fa.fa-calendar-check-o.fa-fw.w3-margin-right
                                |  #{__('templates.profile.go_board_list')} 
                            button.w3-button.w3-block.w3-left-align(onclick="goNewBoard()")
                                i.fa.fa-clone.fa-fw.w3-margin-right
                                |  #{__('templates.profile.go_new_board')} 
                            button.w3-button.w3-block.w3-left-align(onclick="goPricing()")
                                i.fa.fa-handshake-o.fa-fw.w3-margin-right
                                |  #{__('templates.profile.upgrade_account')} 
                    br
                    .w3-card-2.w3-round.w3-margin-right.w3-margin-left
                        .w3-container.w3-display-container.w3-center
                            p #{__('templates.profile.line_01')} 
                            button.w3-button.w3-border.w3-section.w3-hover-green(onclick="document.getElementById('popup').style.display='block'" style="width:150px;") #{__('templates.profile.delete_acc')}  
                    
                    
                    #popup.w3-modal
                        .w3-modal-content(style="max-width:500px;") 
                            .w3-container.w3-border-bottom.w3-green
                                span.w3-button.w3-display-topright.w3-green(onclick="document.getElementById('popup').style.display='none'") &times;
                                h4 #{__('templates.profile.confirm_delete')}  
                            .w3-container.w3-large
                                h5.w3-margin #{__('templates.profile.line_02')}   
                            .w3-container.w3-border-top
                                button.w3-button.w3-hover-green.w3-border.w3-right.w3-margin(onclick="document.getElementById('popup').style.display='none'" style="width:100px;") #{__('templates.profile.no')}   
                                form(action= locale+"/delete" method="post")
                                    button.w3-button.w3-hover-green.w3-border.w3-right.w3-margin(type="submit" style="width:100px;") #{__('templates.profile.yes')}   

    script.
        function goHomePage(){
            window.location = '#{locale}';
        }
        function goBoardList(){
            window.location = '#{locale}'+'/boards';
        }
        function goNewBoard(){
            window.location = '#{locale}'+'/myboards';
        }
        function goPricing(){
            window.location = '#{locale}'+'/pricing';
        }
        function openTab(evt, tabName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("tab");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-green", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " w3-green";
        }