extends ../../layouts/default
include ../../mixins/flash-messages

block content
    .w3-content
        .w3-row-padding.w3-padding-128
            .w3-modal-content.w3-card-4.w3-round(style='max-width:600px')
                .w3-container
                    h3.w3-margin #{__('templates.editboard.header')} 
                    form.w3-content.w3-margin(action= locale+"/boards/edit/"+form.slug method="post")
                        +flash-messages(messages)
                        .w3-section
                            label
                                b #{__('templates.editboard.title')} 
                            input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder=__('templates.editboard.title_holder') name='title' required='' value=form.title)
                            label
                                b #{__('templates.editboard.type')} 
                            select.w3-select.w3-border(name="type")
                                option(value="" disabled selected).w3-text-black #{__('templates.editboard.choose_opt')} 
                                if form.type === "Public"
                                    option(value="Public" selected ) #{__('templates.editboard.public')} 
                                else
                                    option(value="Public") #{__('templates.editboard.public')} 
                                if user.type != 'Free'
                                    if form.type === "Private"
                                        option(value="Private" selected) #{__('templates.editboard.private')} 
                                    else 
                                        option(value="Private") #{__('templates.editboard.private')}  
                            button.w3-button.w3-block.w3-section.w3-padding.w3-gray.w3-hover-green(type='submit') #{__('templates.editboard.save')} 