extends ../../layouts/default

block content
    // Page Container
    .w3-content
        .w3-row-padding.w3-padding-64
            +flash-messages(messages)
            button.w3-button.w3-border.w3-grey.w3-padding-large.w3-margin-top.w3-hover-green(onclick="newBoard()") #{__('templates.myboard.new_board')} 
            // The Grid
            .w3-row(style = "margin-top:30px;")
                // Left Column
                .w3-col.m4.l4                           
                    // Create Button
                    .w3-card-2.w3-round.w3-white
                        .w3-container
                            h4
                                b  #{__('templates.myboard.user_key')} 
                            hr
                            input#password.w3-input.w3-border( type='password' value=user.userKey readonly style="color: #ff0000; font-weight: bold; text-align: center;")
                            input.w3-check.w3-margin-top.w3-margin-bottom(type="checkbox" onchange="checkBox(this);") 
                            label   #{__('templates.myboard.show_hide')} 
                    br  
                    // Help
                    .w3-card-2.w3-round.w3-white
                        .w3-container
                            h4
                                b #{__('templates.myboard.help')} 
                            hr
                            p
                                i.fa.fa-clone.fa-fw.w3-margin-right
                                b #{__('templates.myboard.new_board')} 
                                | #{__('templates.myboard.line_01')} 
                            p
                                i.fa.fa-list.fa-fw.w3-margin-right
                                b #{__('templates.myboard.data')} 
                                | #{__('templates.myboard.line_02')} 
                            p
                                i.fa.fa-pencil.fa-fw.w3-margin-right
                                b #{__('templates.myboard.edit')} 
                                | #{__('templates.myboard.line_03')} 
                            p
                                i.fa.fa-close.fa-fw.w3-margin-right
                                b #{__('templates.myboard.delete')} 
                                | #{__('templates.myboard.line_04')} 
                    br
                    // Upgrade
                    .w3-card-2.w3-round.w3-white
                        .w3-container
                            h4
                                b #{__('templates.myboard.upgrade')} 
                            hr
                            p
                                i.fa.fa-hand-o-right.fa-fw.w3-margin-right
                                |   #{__('templates.myboard.line_05')} 
                            p
                                i.fa.fa-hand-o-right.fa-fw.w3-margin-right
                                |   #{__('templates.myboard.line_06')} 
                            .w3-center 
                                button.w3-button.w3-padding-large.w3-border.w3-hover-green.w3-margin(onclick="upgrade()")  #{__('templates.myboard.upgrade')}     
                    br
                // End Left Column
                      
                // Right Column
                .w3-col.m8.l8
                    if data.boards.length != 0
                        each board in data.boards 
                            .w3-card-2.w3-round.w3-border.w3-margin-right.w3-margin-left.w3-white
                                .w3-row-padding.w3-center
                                    .w3-col.s4.m4.l4
                                        a.w3-button.w3-light-grey.w3-hover-green.w3-border.w3-section(href= locale+'/download/data/'+ board.boardId style="width:80px;") 
                                            | #{__('templates.myboard.data')} 
                                    .w3-col.s4.m4.l4
                                        a.w3-button.w3-light-grey.w3-hover-green.w3-border.w3-section(href= locale+'/boards/edit/' + board.slug style="width:80px;") 
                                            | #{__('templates.myboard.edit')} 
                                    .w3-col.s4.m4.l4
                                        a.w3-button.w3-light-grey.w3-hover-green.w3-border.w3-section(onclick="document.getElementById('popup').style.display='block'" style="width:80px;") 
                                            | #{__('templates.myboard.delete')}                              
                                .w3-row-padding.w3-center
                                    include private_board
                            br
                            #popup.w3-modal
                                .w3-modal-content(style="max-width:500px;") 
                                    .w3-container.w3-border-bottom.w3-green
                                        span.w3-button.w3-display-topright.w3-green(onclick="document.getElementById('popup').style.display='none'") &times;
                                        h4 #{__('templates.myboard.confirm_del')}  
                                    .w3-container.w3-large
                                        h5.w3-margin #{__('templates.myboard.line_07')}  
                                    .w3-container.w3-border-top
                                        button.w3-button.w3-hover-green.w3-border.w3-right.w3-margin(onclick="document.getElementById('popup').style.display='none'" style="width:100px;") #{__('templates.myboard.no')}  
                                        form(action= locale+"/boards/delete/"+board.slug method="post")
                                            button.w3-button.w3-hover-green.w3-border.w3-right.w3-margin(type="submit" style="width:100px;") #{__('templates.myboard.yes')}
                // End Right Column
            
        script.           
            function newBoard(){
                window.location = '#{locale}'+'/createboard';
            }
            function upgrade(){
                window.location = '#{locale}'+'/pricing';
            }
            function checkBox(check_box){
                var x = document.getElementById("password");
                if(check_box.checked){
                    x.setAttribute("type", "text");
                }
                else{
                    x.setAttribute("type", "password");
                }             
            }