.w3-third
    .w3-card-2.w3-margin-bottom
        .w3-container.w3-green
            h5
                a.w3-hover-text-red(href=board.url target="_blank" style="text-decoration:none") #{board.title}
        .w3-container.w3-large
            h6 Author: #{board.author}
            h6 Type: #{board.type}
            h6 Created At: #{board._.createdAt.format('Do MMMM YYYY')} 
