doctype html
html
    head
        meta(charset='UTF-8')
        title= title || "PlugPlay"
        input(type="hidden" name="dataBoard" id="dataBoard" value=data.board)
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='viewport', content='width = device-width, initial-scale = 1, user-scalable = no')
        link(href='/board-ui/css/plugplay.min.css', rel='stylesheet')
        script(src='/board-ui/js/freeboard.thirdparty.min.js')
    
        script(type='text/javascript').
            if(#{data.isBoardEdited}){if('#{userType}'!='Free'){head.js("/board-ui/js/plugplay.min.js","/board-ui/plugins/plugplay.datasource.mqtt.paho.min.js","/board-ui/plugins/plugplay.datasource.rest.min.js","/board-ui/plugins/plugplay.datasource.mqtt.free.min.js","/board-ui/plugins/plugplay.datasource.clock.min.js","/board-ui/plugins/plugplay.datasource.weather.min.js","/board-ui/plugins/plugplay.widget.iGauge.min.js","/board-ui/plugins/plugplay.widget.iSlider.min.js","/board-ui/plugins/plugplay.widget.iButton.min.js","/board-ui/plugins/plugplay.widget.iToggle.min.js","/board-ui/plugins/plugplay.widget.pointer.min.js","/board-ui/plugins/plugplay.widget.light.indicator.min.js","/board-ui/plugins/plugplay.widget.light.status.min.js","/board-ui/plugins/plugplay.widget.highcharts.min.js","/board-ui/plugins/freeboard.widgets.min.js",);}else{head.js("/board-ui/js/plugplay.min.js","/board-ui/plugins/plugplay.datasource.mqtt.paho.min.js","/board-ui/plugins/plugplay.datasource.mqtt.free.min.js","/board-ui/plugins/plugplay.widget.iButton.min.js","/board-ui/plugins/plugplay.widget.iSlider.min.js","/board-ui/plugins/plugplay.widget.light.indicator.min.js","/board-ui/plugins/plugplay.widget.highcharts.min.js",);}}else{head.js("/board-ui/js/plugplay.min.js","/board-ui/plugins/plugplay.datasource.mqtt.paho.min.js","/board-ui/plugins/plugplay.datasource.rest.min.js","/board-ui/plugins/plugplay.datasource.mqtt.free.min.js","/board-ui/plugins/plugplay.datasource.clock.min.js","/board-ui/plugins/plugplay.datasource.weather.min.js","/board-ui/plugins/plugplay.widget.iGauge.min.js","/board-ui/plugins/plugplay.widget.iSlider.min.js","/board-ui/plugins/plugplay.widget.iButton.min.js","/board-ui/plugins/plugplay.widget.iToggle.min.js","/board-ui/plugins/plugplay.widget.pointer.min.js","/board-ui/plugins/plugplay.widget.light.indicator.min.js","/board-ui/plugins/plugplay.widget.light.status.min.js","/board-ui/plugins/plugplay.widget.highcharts.min.js","/board-ui/plugins/freeboard.widgets.min.js",);}
            head.ready(function(){$(function(){freeboard.initialize(true);var dataBoard=document.getElementById("dataBoard").value;var objDataBoard=JSON.parse(dataBoard);var objContentBoard=JSON.parse(objDataBoard.content)
            freeboard.loadDashboard(objContentBoard,function(){freeboard.setEditing(false);if(!#{data.isBoardEdited}){$('#main-header').hide();}else{}});});});

    body
        #board-content
            img#dash-logo(data-bind='attr:{src: header_image}, visible:header_image()')
            .gridster.responsive-column-width
                ul(data-bind='grid: true')

        header#main-header(data-bind='if:allow_edit')
            #admin-bar
                #admin-menu
                    #board-tools
                        a(href='/myboards')
                            h1#board-logo.title.bordered #{data.board.title}
                        #board-actions
                            ul.board-toolbar.vertical
                                li#add-pane(data-bind='click: createPane')
                                    i.icon-plus.icon-white
                                    label Add Pane

                                li(data-bind='click: loadDashboardFromLocalFile' style="float:left;")
                                    i.icon-folder-open.icon-white
                                    label#full-screen Import
                                li(data-bind="click: saveDashboard" data-pretty="true" style="float:right;")
                                    i.icon-download-alt.icon-white
                                    label Export                               
                    #datasources
                        h2.title DATASOURCES
                        .datasource-list-container
                            table#datasources-list.table.table-condensed.sub-table(data-bind='if: datasources().length')
                                thead
                                    tr
                                        th Name
                                        th Last Updated
                                        th &nbsp;
                                tbody(data-bind='foreach: datasources')
                                    tr
                                        td
                                            span.text-button.datasource-name(data-bind="text: name, pluginEditor: {operation: 'edit', type: 'datasource'}")
                                        td(data-bind='text: last_updated')
                                        td
                                            ul.board-toolbar
                                                li(data-bind='click: updateNow')
                                                    i.icon-refresh.icon-white
                                                li(data-bind="pluginEditor: {operation: 'delete', type: 'datasource'}")
                                                    i.icon-trash.icon-white
                        span.text-button.table-operation(data-bind="pluginEditor: {operation: 'add', type: 'datasource'}") ADD
            #column-tools.responsive-column-width
                ul.board-toolbar.left-columns
                    li.column-tool.add(data-bind='click: addGridColumnLeft')
                        span.column-icon.right
                        i.icon-arrow-left.icon-white
                    li.column-tool.sub(data-bind='click: subGridColumnLeft')
                        span.column-icon.left
                        i.icon-arrow-right.icon-white
                ul.board-toolbar.right-columns
                    li.column-tool.sub(data-bind='click: subGridColumnRight')
                        span.column-icon.right
                        i.icon-arrow-left.icon-white
                    li.column-tool.add(data-bind='click: addGridColumnRight')
                        span.column-icon.left
                        i.icon-arrow-right.icon-white
            #toggle-header(data-bind='click: toggleEditing')
                i#toggle-header-icon.icon-wrench.icon-white
        
        div(style='display:hidden')
            ul(data-bind="template: { name: 'pane-template', foreach: panes}")
        
        script#pane-template(type='text/html').
            <li data-bind="pane: true">
                <header>
                    <h1 data-bind="text: title"></h1>
                    <ul class="board-toolbar pane-tools">
                        <li data-bind="pluginEditor: {operation: 'add', type: 'widget'}">
                            <i class="icon-plus icon-white"></i>
                        </li>
                        <li data-bind="pluginEditor: {operation: 'edit', type: 'pane'}">
                            <i class="icon-wrench icon-white"></i>
                        </li>
                        <li data-bind="pluginEditor: {operation: 'delete', type: 'pane'}">
                            <i class="icon-trash icon-white"></i>
                        </li>
                    </ul>
                </header>
                <section data-bind="foreach: widgets">
                    <div class="sub-section" data-bind="css: 'sub-section-height-' + height()">
                        <div class="widget" data-bind="widget: true, css:{fillsize:fillSize}"></div>
                        <div class="sub-section-tools">
                            <ul class="board-toolbar">
                                <!-- ko if:$parent.widgetCanMoveUp($data) -->
                                <li data-bind="click:$parent.moveWidgetUp"><i class="icon-chevron-up icon-white"></i></li>
                                <!-- /ko -->
                                <!-- ko if:$parent.widgetCanMoveDown($data) -->
                                <li data-bind="click:$parent.moveWidgetDown"><i class="icon-chevron-down icon-white"></i></li>
                                <!-- /ko -->
                                <li data-bind="pluginEditor: {operation: 'edit', type: 'widget'}"><i class="icon-wrench icon-white"></i></li>
                                <li data-bind="pluginEditor: {operation: 'delete', type: 'widget'}"><i class="icon-trash icon-white"></i></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </li>

        //- Google analytics		
        if env === 'production'
            script.
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '#{ga_property}', '#{ga_domain}');
                ga('send', 'pageview');